@import "./vars";

$button-padding-top: 8px;
$button-padding-bottom: 8px;
$button-padding-left: 16px;
$button-padding-right: 16px;
$button-border-size: 2px;

.btn {
  line-height: 1em;
  font-weight: 100;
  font-size: 14px;
  padding-top: $button-padding-top;
  padding-bottom: $button-padding-bottom;
  padding-left: $button-padding-left;
  padding-right: $button-padding-right;
  border-radius: 2px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  border: $button-border-size solid rgba(0, 0, 0, .03);
  height: 50px - ($button-padding-top * 2) - ($button-border-size * 2);

  .material-icons {
    padding-right: 16px;
    padding-top: 2px;
  }

  &:hover {

  }
}

.btn-primary {
  color: $button-color-primary;
  background-color: $button-background-color-primary;

  &:hover {
    background-color: darken($button-background-color-primary, 2%);
    border: 2px solid rgba(0, 0, 0, .08);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .08);
  }

  &:active {
    background-color: darken($button-background-color-primary, 2%);
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .08);
  }

  &:focus {
    background-color: darken($button-background-color-primary, 2%);
    border: 2px solid rgba(0, 0, 0, .8);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .08);
  }
}




.btn-facebook {
  color: white;
  background-color: #3b5998;

  &:hover {
    background-color: darken(#3b5998, 3%);
  }
}


.btn-google {
  color: white;
  background-color: #3cba54;

  &:hover {
    background-color: darken(#3cba54, 3%);
  }
}

