$diamond-height: 40px;

.diamond {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $diamond-height;
  height: $diamond-height;
  transform: rotate(45deg);
  width: $diamond-height;
  height: $diamond-height;
  background-color: red;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);

  .diamond-grade {
    transform: rotate(-45deg);
    font-weight: normal;
    font-size: $diamond-height / 2;
    color: white;
  }

  .tenner {
    top: 1.1em !important;
    left: 1em !important;
  }
}
