@import "vars";

$input-padding: 16px 0em 16px 16px;
$input-padding-top: 16px;
$input-padding-bottom: 16px;
$input-padding-left: 16px;
$input-padding-right: 0px;
$input-border-size: 1px;

input {
  padding-left: 8px;
  height: 34px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  background-color: white;
}


body {
  #wrapper,
  .base-modal {
    input[type] {
      font-size: 16px;
      border-radius: 3px;
      padding: $input-padding;
      color: $color-text-dark;
      border: $input-border-size solid rgba(0, 0, 0, .05);
      margin: 0px;
      height: 50px - ($input-padding-top * 2) - ($input-border-size * 2);

      &:focus {
        /* border-bottom: 1px solid $color-highlight;
           box-shadow: 0 1px 0 0 $color-highlight; */
      }
    }
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $color-text-light;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $color-text-light;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:  $color-text-light;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  $color-text-light;
}


.input-error {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  color: $color-input-error;
  background: transparentize($color-input-error, .8);
  padding: 1em;
  margin-top: .4em;
}


