// core
$max-width: 90%;

$small-screen: 480px !default;
$medium-screen: 640px !default;
$large-screen: 860px !default;

// colors
$color-background:  rgba(229, 231, 246, 1);
$color-highlight: #607EEB;
$color-highlight-background: #fff;
$color-background-color: #f5f6fa;
$color-chart-area-1: #A9B9D3;
$color-text-light: rgba(0, 0, 0, .4);
$color-text-normal: rgba(0, 0, 0, .6);
$color-text-dark: rgba(0, 0, 0, .8);
$color-base-orange: #f3501e;
$gradient-background: linear-gradient(darken($color-base-orange, 3%), lighten($color-base-orange, 8%));


// pallette
$color-1: #FA7535;
$color-2: #45B739;
$color-3: #494D4B;
$color-4: #FADAA3;
$color-5: #D64541;
$color-6: #45B739;


$color-input-error: transparentize(red, .1);
$color-input-success: green;

// components
$page-margin-top: 2em;
$component-margin: 1.5em;
$component-background-color: white;

// border
$default-border: 2px solid rgba(0, 0, 0, .1);
$default-thin-border: 1px solid rgba(0, 0, 0, .1);
$color-sub-container: white;

//Text
$color-text-primary: rgba(255, 255, 255, .95);
$color-text-secondary: rgba(0, 0, 0, .95);

//Navbar
$color-navbar-background: rgba(226, 58, 39, 1);
$navbar-height: 60px;

//Buttons
$button-color-primary: white;
$button-background-color-primary:  $color-2;
