// core
$max-width: 90%;

$small-screen: 480px !default;
$medium-screen: 640px !default;
$large-screen: 860px !default;

// colors
$color-background:  #f5f6fa;
$color-highlight: #607EEB;
$color-highlight-background: #fff;
$color-background-color: #f5f6fa;
$color-chart-area-1: #A9B9D3;
$color-text-light: rgba(0, 0, 0, .4);
$color-text-normal: rgba(0, 0, 0, .6);
$color-text-dark: rgba(0, 0, 0, .8);

// pallette
$color-1: #FF9F55;
$color-2: #FF8B55;
$color-3: #FF7E55;
$color-4: #FADAA3;
$color-5: #FF7055;

$color-input-error: transparentize(red, .1);
$color-input-success: green;

// components
$page-margin-top: 2em;
$component-margin: 1.5em;
$component-background-color: white;

// border
$default-border: 2px solid rgba(0, 0, 0, .1);
$color-sub-container: white;

//Text
$color-text-primary: rgba(255, 255, 255, .95);
$color-text-secondary: rgba(0, 0, 0, .95);

//Navbar
$color-navbar-background: $color-1;
$navbar-height: 60px;

//Buttons
$button-color-primary: white;
$button-background-color-primary:  $color-2;
